{% extends 'base.html' %}

    <h1>Hi</h1>
    {% block body %}
    <div style="width: 50%; margin: auto">
        {% for comment in comments %}
            {% if loop.index % 2 == 0 %}
                {% set val = 'Even' %}
            {% else %}
                {% set val = 'Odd' %}
            {% endif %}
        <div style="padding: 10px; background-color:rgb(83, 81, 184); margin: 20px">
            <h1>{{val|upper}}</h1>
            <h5>#{{ loop.index }}</h5>
            <p style="font-size: 24px">{{ comment }}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

